.header{
    margin-bottom: 30px;
}
.vertical {
    border: none;
    border-left: 1px solid hsla(200, 10%, 50%,100);
    width: 1px;       
}
.short_parallel {
    width: 45px;
}
.flex_justify_content_center{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.column_flex{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}