h1 {
    font-weight: 900;
    font-size: 2rem;
    margin: 0;
    font-family: 'Exo', sans-serif;
}
h3{
    font-family:'Playfair Display', serif;
    font-size: 1.1rem;
}
p{
    font-size: 0.7rem;
    color: #8a8a8a;
}
.header{
    margin-bottom: 30px;
}
.vertical {
    border: none;
    border-left: 1px solid hsla(200, 10%, 50%,100);
    width: 1px;       
}
.short_parallel {
    width: 45px;
}
.flex_align_items_center{
    display: flex;
    align-items: center;
}
.flex_justify_content_center{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.first_column p{
    font-size: 0.8rem;
}
.first_column_img{
    max-height: 300px;
    width: auto;
    max-width: 100%;
    margin-bottom: 20px;
}
.third_column h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 1rem;
}
.third_column_img{
    max-height: 70px;
    width: auto;
    max-width: 100%;
    margin-right: 20px;
}
